<div class="container">
    <div class="row">
        <div style="text-align:center">
            <h1>
                Welcome to {{ title }}!
            </h1>
        </div>
        <div class="card-content z-depth-1">
            <p>1/30</p>
            <p>v9.0 > change package manager to yarn</p>
            <p>v9.1 > child router & lazy load</p>
            <p>v9.2 > import json-server and build backend api (still have bug)</p>
            <p>application restructure(clean unnecessary code)</p>
            <p>chartjs test</p>
            <p>complex form & form action</p>
        </div>
        <div class="card-content z-depth-1">
            <p>1/26</p>
            <p>v8.1 > bugfix & angular material test & nav UI</p>
            <p>v8.2 > combine user-auth.service and user-data.service</p>
            <p>v8.3 > 404page & UI adjust</p>
            <p>v8.4 > import ngx-cookie-service update user-service & nav component</p>
        </div>
        <div class="card-content z-depth-1">
            <p>1/25</p>
            <p>v7.1 > bugfix & application restructure(mainly service)</p>
            <p>v7.2 > change materialize to next.materialize drop jquery</p>
            <p>v7.3 > application restructure(service folder)</p>
        </div>
        <div class="card-content z-depth-1">
            <p>1/24</p>
            <p>v6.1 > materialize service & bugfix</p>
            <P>v6.2 > application restructure(in progress)</P>
        </div>
        <div class="card-content z-depth-1">
            <p>1/23</p>
            <p>v5.1 > complete user auth</p>
            <p>v5.2 > login&logout detail </p>
            <p>v5.3 > click-stop-propagation directive & change codewar question style</p>
            <p>v5.4 > code war partice - two to one - averages of numbers</p>
        </div>
        <div class="card-content z-depth-1">
            <p>1/22</p>
            <p>v4.1 > change navbar to left-side-nav</p>
            <p>v4.2 > user auth simulator</p>
        </div>
    </div>
</div>