<div class="container">
    <div class="row">
        <ul class="collapsible popout kata-list" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <div class="header-title"><i class="material-icons">done</i>Exes and Ohs</div>
                    <a target="_blank" href="https://www.codewars.com/kata/exes-and-ohs/train/typescript" class="header-link waves-effect waves-light btn-flat text-primary" click-stop-propagation>Link</a>
                </div>
                <div class="collapsible-body">
                    <app-xocompare></app-xocompare>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <div class="header-title"><i class="material-icons">done</i>Moves in squared strings (I)</div>
                    <a target="_blank" href="https://www.codewars.com/kata/56dbe0e313c2f63be4000b25/train/typescript" class="header-link waves-effect waves-light btn-flat text-primary" click-stop-propagation>Link</a>
                </div>
                <div class="collapsible-body">
                    <app-squaredmirror></app-squaredmirror>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <div class="header-title"><i class="material-icons">done</i>Regex validate PIN code</div>
                    <a target="_blank" href="https://www.codewars.com/kata/55f8a9c06c018a0d6e000132/train/typescript" class="header-link waves-effect waves-light btn-flat text-primary" click-stop-propagation>Link</a>
                </div>
                <div class="collapsible-body">
                    <app-pincode></app-pincode>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <div class="header-title"><i class="material-icons">done</i>Two to One</div>
                    <a target="_blank" href="https://www.codewars.com/kata/5656b6906de340bd1b0000ac/train/typescript" class="header-link waves-effect waves-light btn-flat text-primary" click-stop-propagation>Link</a>
                </div>
                <div class="collapsible-body">
                    <app-longest></app-longest>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <div class="header-title"><i class="material-icons">done</i>Averages of numbers</div>
                    <a target="_blank" href="https://www.codewars.com/kata/57d2807295497e652b000139/train/typescript" class="header-link waves-effect waves-light btn-flat text-primary" click-stop-propagation>Link</a>
                </div>
                <div class="collapsible-body">
                    <app-averages></app-averages>
                </div>
            </li>
        </ul>
    </div>
</div>